

footer,header{
    position: sticky;
    background-color: gray;
    width: 100%;
}

header{top:0;}
footer{
    bottom: 0;
}

div{
    margin: 200px;
    background-color: gray;
    min-height: 300px;
    padding: 100px;
}

tr,th,td{border: 1px solid beige}



